* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

input {
  font-size: 16px;
  display: block;
  width: 400px;
  padding: 4px 8px;
  font-family: Helvetica, Arial, sans-serif;
}

#form,#map,#results {
  display: block;
  margin: 0 auto;
  padding: 12px 0;
  max-width: 400px;
}

#form {
  text-align: center;
}

svg {
  border: 1px solid black;
}

g.land path {
  fill: #b8dee6;
  stroke: none;
}

line {
  stroke-width: 1px;
  stroke: #f0f;
}

strong {
  margin-right: 8px;
}