
body {
  font: 12px sans-serif;
}

path {
  stroke-width: 1px;
  stroke: #999;
  fill: none;
  cursor: pointer;
}

circle {
  opacity: 0.6;
  fill: #666;
  stroke: none;
  cursor: pointer;
}

circle:hover {
  opacity: 1;
  stroke: black;
  stroke-width: 1px;
}

svg {
  margin-left: auto;
  margin-right: auto;
}

div.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

div.info {
  font-size: 16px;
  padding: 12px 0;
}

pre, code {
  font-family: "Menlo", monospace;
  white-space: pre;
  font-size: 18px;
}

pre {
  background-color: #eee;
  padding: 12px;
  margin: 0;
}